<div class="container">
  <div class = "row" style = "margin-top : 50px;">
    <div class = "col-md-3">
    </div>
    <div class = "col-md-6">
<div class="panel panel-default">
  <div class="panel-body">
    <%= @email %>으로 메일을 전송하였습니다!!
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">제목</h3>
  </div>
  <div class="panel-body">
   <%= @title %>
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">내용</h3>
  </div>
  <div class="panel-body">
    <%= @content %>
  </div>
</div>
    </div>
    <div class = "col-md-3">
    </div>
  </div>
</div>
